.auth-container {
    padding: 0 2rem;
    .title {
        margin: 0;
        line-height: 1.15;
        font-size: 3.5rem;
        text-align: center;
        a {
            color: #0070f3;
            text-decoration: none;
        }
        a:hover,
        a:focus,
        a:active {
            text-decoration: underline;
        }
    }
    .description {
        margin: 2rem 0;
        line-height: 1.5;
        font-size: 1.5rem;
    }
    .form {
        width: 100%;
        margin: 0 auto;
        max-width: 550px;
        label {
            font-size: 0.75rem;
            font-weight: 600;
            margin-left: 5px;
            margin-bottom: 7px;
        }
        input {
            width: 100%;
            padding: 7px 10px;
            margin-bottom: 15px;
            font-size: 1.1rem;
        }
        input::placeholder {
            color: #ddd;
        }
    }


    .actionContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn {
        min-width: 170px;
        text-align: center;
        padding: 10px 17px;
        border: none;
        border-radius: 3px;
        color: white;
        background: #0070f3;
        font-size: 1rem;
    }

    .btn:disabled {
        background: gray;
    }

    .signupLink {
        color: #555;
    }
}